#footer {

    display: none;
    /* display: block; */
    background-color: rgb(108, 99, 99);
    position: fixed;
    height: 30px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    z-index: 0;
}

.footer-container {
    display: flex;
    color: #cfcdff;
    justify-content: center;
    font-family: system-ui;
    padding-left: 10px;
    padding-top: 6px;
    font-size: small;

}