header {
    height: 150px;
    align-items: center;
    background-color: green;
    display: flex;
    position: sticky;
    top: 0;
    background-image: url('../assets/jpg/buecher5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} 

.logo {
    background-image: url('../assets/jpg/logo.jpeg');
    display: flex;
    width: 195px;
    height: 150px;
    position: relative;
    z-index: 1;
    margin-left: 0;
	cursor: pointer;
    animation: myAnim 4s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

 /* .no-Underline {  

	display: none !important;
}  */